:root {
    --main-gray: rgb(128,128,128);
    --main-dim: rgb(130,116,87);
}

html, body {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.sidenav {
    height: 100%;
    position: fixed;
}

.grey{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

aside.full {
    position: absolute;
    height: 100vw;
}

aside.bottom {
    width: 100%;
    position: fixed;
    bottom: 50px;
    right: 20px;
} 

#sidebar {
    display: none;
}

#important-btns{
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 999999;
    height: 50px;
}


.hidden{
    visibility: hidden !important;
}

.hide {
    display: none !important;
}

.fullsized {
    width: 100%;
    height: 100%;
}

.nav_info {
    margin-left: 20px;
    display: none;
}

/* CUSTOM SCROLL */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--main-gray); 
}

::-webkit-scrollbar-thumb {
    background: rgb(70, 68, 62); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-dim); 
}

/* CUSTOM SCROLL END */

.main-bg {
    background-image: url('../img/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bg {
    background-image: url('../img/about_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grad-bg {
    background: rgb(46,43,34);
    background: linear-gradient(0deg, rgba(46,43,34,1) 0%, rgba(54,53,48,1) 36%, rgba(12,12,12,1) 48%);
}

.dark-bg {
    background-color: #090809;
}

.gray-bg {
    background-color: #252425;
}

.dim-bg {
    background-color: var(--main-dim);
}

.full-size {
    width: 100% !important;
    height: 100vh !important;
}

h2{
    font-size: 2em;
}

h1{
    font-size: 2.4em;
} 

.container {
    padding-top: 50px;
}
.navbar-toggler {
    color: white;
}

.active{
    font-weight: 600;
    color: white !important;
}

.small-maps-table {
    border-width: 5px 5px !important; 
    margin-bottom: 5rem !important; 
    border-top: 3px solid var(--main-dim) !important;
}

.video-padding {
    padding-top: 150px; 
    padding-left: 25px; 
    padding-right: 25px;
}

.nav-link, .custom-btn{
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    color: var(--main-gray);
    background-color: rgba(0, 0, 0, 0.9);
    border: 0px;
    cursor: pointer;
}

.btn-outline-custom {
    color: white;
    background-color: transparent;
    border-color: var(--main-dim);
}

.btn-check:checked+ .btn-outline-custom{
        color: black;
        background-color: var(--main-dim);
        font-weight: 600;
}


.navbar-nav a:first-child{
    border-radius: 5px 0px 0px 5px;
}

.navbar-nav a:last-child{
    border-radius: 0px 5px 5px 0px;
}

.nav-link:hover, .custom-btn:hover{
    color: black !important;
    background-color: var(--main-dim);
    transition: 100ms ease-in-out;
}

.main-title{
    color: #fff;
    font-weight: 600;
}

.glow-text {
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0 0 20px var(--main-dim), 0 0 30px var(--main-dim);
}

.text-gray {
    color: var(--main-gray);
}

.text-dim {
    color: var(--main-dim);
}

.icon-btn {
    cursor: pointer;
    color: var(--main-gray);
    transition: 100ms ease-in-out;
}

.icon-btn:hover{
    color: var(--main-dim);
    transition: 100ms ease-in-out;
}

.glow-box {
    -webkit-box-shadow: -2px 1px 50px 5px #827457 !important; 
    box-shadow: -2px 1px 50px 5px #827457 !important;
    border-radius: 5px;
    border: 1px solid var(--main-dim);
    z-index: 11 !important;
}

img.grey{
    z-index: 9 !important;
}

figure {
    z-index: 10 !important;
}



a.no-decor {
    text-decoration: none;
}

.fixed350x200 {
    width: 350px !important; 
    height: 200px !important;
}
.fixed350xauto {
    width: 350px !important; 
    height: auto !important;
}

.img-md-fixed {
    width: 100% !important; 
    height: auto !important;
}

/* CUSTOM LINK COLORS */

a.link:link {
    color: var(--main-dim);
}

a.link:visited {
    color: gray;
}

a.link:hover {
    color: rgb(206, 96, 96);
}

a.link:active {
    color: rgb(120, 120, 219);
}

input[type="radio"].form-check-input:checked {
   background-color:var(--main-dim);
}

.map-caption {
    caption-side: top;
}

.img-td {
    width: 0.1%;
    padding: 0px !important;
}

.up {
    position: fixed;
    bottom: 20px;
    right:20px
}

.border-color-dim {
    border-color: var(--main-dim);
}

.twitch-div{
    height: 350px;
}

/* CUSTOM LINK COLORS END */

@media (max-width: 992px) {
    .navbar {
        width: 100vw;
    } 

    .container {
        padding: 0px;
        padding-top: 10px;
        margin: 0px;
    }
    .navbar-nav a:first-child{
        border-radius: 0px 0px 0px 0px;
    }
    
    .navbar-nav a:last-child{
        border-radius: 0px 0px 0px 0px;
    }

    .about-bg, .main-bg {
        background-image: none;
    }

    .nav-link {
        background-color: rgb(33,33,31);
        margin-bottom: 5px;
    }
    .navbar-nav {
        background-color: rgb(17,17,17);
    }

    .grad-bg {
        background: rgb(46,43,34);
        background: linear-gradient(0deg, rgba(46,43,34,1) 0%, rgba(54,53,48,1) 52%, rgba(12,12,12,1) 78%);
    }

    .full-size {
        width: auto;
        height: 100vh;
    }

    .fit {
        height: fit-content !important;
    }
}

.mt-100 {
    margin-top: 100px;
}

.font-30px {
    font-size: 30px;
}

.font-20px {
    font-size: 20px;
}

@media (min-width: 1000px) and (max-width: 1550px) {
    .twitch-div{
        height: 300px;
    }
}

@media (max-width: 600px) {
    .twitch-div{
        height: 240px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 1.3rem;
    }
}

@media (min-width: 990px) {
   .upper{
       bottom: 150px;
   }

   .mt-lg-200 {
        margin-top: 200px;
   }
}